/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --green: #30C88F;
    --black: #2d314d;
    --gray: #9597A5;
    --white: #fff;
    --smoke: #fafafa;
    --whismo: #f4f5f7;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 165px;
    background-color: var(--smoke);
}

/* header */
.container-header {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.navigation-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logos {
    list-style: none;
}

.links {
    list-style: none;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.link__url {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.108px;
}
.link__url:hover {
    color: var(--black);
}


.link__url--btn {
    background: var(--gradient);
    color: var(--white);
    padding: 8px 32px;
    border-radius: 22px;
}
.link__url--btn:hover {
    color: var(--white);
    opacity: 0.7;
}

/* main */
/* hero */
.container-hero-section {
    margin-top: 250px;
    padding-bottom: 94px;
    position: relative;
}

.hero-img {
    position: absolute;
    top: -250px;
    right: 0;
    z-index: 0;
}

.hero-information {
    width: 447px;
}

.hero-information__title {
    color: var(--black);
    font-size: 56px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -1px;
}

.hero-information__text {
    color: var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.281px;
    margin: 35px 0;
}

/* middle */
.container-middle-section {
    padding: 94px 165px;
    background-color: var(--whismo);
}

.middle-info {
    width: 635px;
}

.middle-info__title {
    color: var(--black);
    font-size: 56px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -1px;
}

.middle-info__text {
    color: var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.281px;
    margin: 35px 0;
}

.card__title {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.429px;
    margin-top: 40px;
    margin-bottom: 26px;
}

.card__text {
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: -0.25px;
}

.cards {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
}

.card {
    max-width: 255px;
}

/* last */
.container-last {
    padding: 80px 165px;
}

.title {
    color: var(--black);
    font-size: 56px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.last-card__title {
    color: var(--gray);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 180% */
    letter-spacing: -0.156px;
    margin: 10px 0 8px;
    padding: 0 15px;
}

.last-card__quote {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: -0.286px;
    padding: 0 15px;
}

.last-card__quote:hover {
    color: var(--green);
    cursor: pointer;
}

.last-card__text {
    color: var(--gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
    letter-spacing: -0.203px;
    margin-top: 8px;
    padding: 0 15px;
}

.last-card__image {
    border-radius: 5px 5px 0px 0px;
    background: url(/images/Rectangle.png), lightgray 50% / cover no-repeat;
    width: 255px;
    height: 200px;
    color: transparent;

}

.last-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    list-style: none;
    background-color: var(--white);
}

.last-card__image--1 {
    background: url(/images/Rectangle\ 1.png);
}

.last-card__image--2 {
    background: url(/images/Rectangle2.png);
}

.last-card__image--3 {
    background: url(/images/Rectangle3.png);
}

/* footer */
.container-footer {
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 42px 165px;
}

.footer-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
}

.footer-firsts {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}

.footer-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}

.footer-url__link {
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 173.333% */
    letter-spacing: -0.234px;
}
.footer-url__link:hover {
    color: var(--green);
}
.link__url--footer {
    color:var(--white) ;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 173.333% */
    letter-spacing: -0.234px;
    opacity: 0.5;
    text-decoration: none;
}
.link__url--footer:hover {
    color: var(--white);
}
.footerr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}